<ion-header>
  <ion-toolbar>
    <ion-title>Sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

    <!-- Note for Alejandro(9/30/21): 
  Basic layout below. Make sure to use proper Angular button link!-->

  <ion-button (click)="btnClicked()" routerLink="/bmi">
    Sign-up !
  </ion-button>

</ion-content>
