<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Diet</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- User input for food on selected day above -->
  <!-- <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" [(ngModel)]='Date '></ion-datetime>
  </ion-item> -->

    <!-- ---- -->
    <!-- Accordion List button here!!! -->
    <!-- (11/12/21) (Note to self): DON"T PUSH UNTIL IT WORKS STUPID!!!! -->
    <!-- <div id="faq">
      <ion-item>
        <input type="checkbox0" checked>
        <ion-label>Funny1: </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Funny2: </ion-label>
      </ion-item>
    </div> -->
    <!-- ---- -->

    <form [formGroup]="targetC" (ngSubmit)="saveTargetCalories()" padding-right>
      <ion-item>
        <ion-label position="floating">Targeted Calories</ion-label>
        <ion-input type="number" [(ngModel)]='Targeted_Calories' formControlName='Targeted_Calories'></ion-input>
      </ion-item>
      <ion-button type="submit" color="primary" expand="block" [disabled]="!targetC.valid">Set daily Target</ion-button>
    </form>
    <ion-item>
      <div>Your Target Calories For Today: </div>
      <div>{{todaytarget}}</div>
    </ion-item>
    <!-- <ion-item>
      <div>Your Target Calories For Today: 
        <ion-row class="ion-text-center">
          <ion-col>
            {{todaytarget}}
          </ion-col>
        </ion-row>
      </div>
    </ion-item> -->
    <br>

  <form [formGroup]="form" (ngSubmit)="sendData()">
    <ion-item>
      <ion-label>Date: </ion-label>
      <ion-datetime [(ngModel)]='Date' formControlName="date" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Meal: </ion-label>
      <ion-select [(ngModel)]='meal' formControlName="meal">
          <ion-select-option >Breakfast</ion-select-option>
          <ion-select-option >Lunch</ion-select-option>
          <ion-select-option >Dinner</ion-select-option>
          <ion-select-option >Post Workout</ion-select-option>
          <ion-select-option >Pre Workout</ion-select-option>
          <ion-select-option >Snacks</ion-select-option>
    
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Food: </ion-label>
      <ion-input [(ngModel)]='food' formControlName="food"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Calories: </ion-label>
      <ion-input [(ngModel)]='calories' formControlName="calories"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fat: </ion-label>
      <ion-input [(ngModel)]='fat' formControlName="fat"></ion-input>
    </ion-item>

      <ion-item>
        <ion-label>
          <p>Saturated Fat: </p>
        </ion-label>
        <ion-input [(ngModel)]='satfat' formControlName="satfat"></ion-input> 
      </ion-item>
      <!-- * -->

      <ion-item>
        <ion-label>
          <p>Monounsaturated Fat: </p>
        </ion-label>        
        <ion-input [(ngModel)]='monofat' formControlName="monofat"></ion-input> 
      </ion-item>
      <!-- * -->

      <ion-item>
        <ion-label>
          <p>Polyunsaturated Fat: </p>
        </ion-label>        
        <ion-input [(ngModel)]='polyfat' formControlName="polyfat"></ion-input> 
      </ion-item>
      <!-- *  -->

    <ion-item>
      <ion-label>Carbs: </ion-label>
      <ion-input [(ngModel)]='carbs' formControlName="carbs"></ion-input>
    </ion-item>

      <ion-item>
        <ion-label>
          <p>Fiber: </p>
        </ion-label>     
        <ion-input [(ngModel)]='fiber' formControlName="fiber"></ion-input> 
      </ion-item>
      <!-- * -->

      <ion-item>
        <ion-label>
          <p>Sugar: </p>
        </ion-label>     
        <ion-input [(ngModel)]='sugar' formControlName="sugar"></ion-input>
      </ion-item>
      <!-- * -->

    <ion-item>
      <ion-label>Protein: </ion-label>
      <ion-input [(ngModel)]='protein' formControlName="protein"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Sodium: 
      </ion-label> 
      <ion-input [(ngModel)]='sodium' formControlName="sodium"></ion-input> 
    </ion-item>
    <!-- * -->

    <ion-item>
        <ion-label>
          Cholesterol: 
        </ion-label> 
      <ion-input [(ngModel)]='cholesterol' formControlName="cholesterol"></ion-input>
    </ion-item>
    <!-- * -->

    <ion-item>
        <ion-label>
          Net Carbs: 
        </ion-label> 
      <ion-input [(ngModel)]='netcarbs' formControlName="netcarbs"></ion-input>
    </ion-item> 
    <!-- * --> 
    <!-- (11/6/21): Alex's code for the remaining serving size stuff...yee -->
    <!-- All indicated with a '*' right below the code above! -->

    <ion-button size="default" type="submit" expand="block" [disabled]="!form.valid">SUBMIT MEAL</ion-button>
  </form>


  <div id = 'dispay'>
      <ion-card *ngFor="let user of users| async" id="List">
      <!-- <ul *ngFor="let user of users| async"  id="List"> -->
        <ion-card-header>
          <ion-card-subtitle>{{user.Date}}</ion-card-subtitle>
          <ion-card-title>{{user.meal[0]}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <li>{{user.meal[0]}}</li>
            <li>{{user.meal[1]}}</li>
            <li>{{user.meal[2]}}</li>
            <!-- <li>{{user.meal[3]}}</li> -->
            <!-- <li>{{user.meal[4]}}</li> -->
            <li>{{user.meal[5]}}</li>
            <li>{{user.meal[6]}}</li>
            <li>{{user.meal[7]}}</li>
            <li>{{user.meal[8]}}</li>
            <li>{{user.meal[4]}}</li>
            <li>{{user.meal[9]}}</li>
            <li>{{user.meal[10]}}</li>
            <li>{{user.meal[3]}}</li>
            <li>{{user.meal[11]}}</li>
            <li>{{user.meal[12]}}</li>
            <li>{{user.meal[13]}}</li>
            <!-- <ion-button (click)='edit()' color="success" size="small">Edit</ion-button> -->
            <ion-col>
              <ion-button (click)='editdietinfo()' color="success" size="small">Edit</ion-button>
              <ion-button (click)='deletedata()' color="danger" size="small">Delete</ion-button>
            </ion-col>
            <ion-col>
              <ion-row *ngIf="updateDietInfo">
    
                <!-- update Meal name---- -->
                <ion-row style="margin: auto;">       
                  <ion-row>
                    <strong style="font-size: 20px;">{{user.meal[0]}}</strong>
                    <ion-button (click)='editMeal()' size="small">Edit Meal</ion-button>
                    <br>
                  </ion-row> 
                  <ion-row *ngIf="updateMealName">
                    <ion-item>
                      <!-- <ion-input placeholder="New meal: " id="meal"></ion-input> -->
                      <ion-label >New Meal: </ion-label>
                      <ion-select id="meal">
                          <ion-select-option >Breakfast</ion-select-option>
                          <ion-select-option >Lunch</ion-select-option>
                          <ion-select-option >Dinner</ion-select-option>
                          <ion-select-option >Post Workout</ion-select-option>
                          <ion-select-option >Pre Workout</ion-select-option>
                          <ion-select-option >Snacks</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-button (click)='editMeal()' color="danger" size="small">Cancel</ion-button>
                    <ion-button (click)='editdietMeal()' color="success" size="small">Submit</ion-button>
                  </ion-row>
                </ion-row> 
    
                <!-- update Food -->
                <ion-row style="margin: auto;">  
                  <ion-row>
                    <strong style="font-size: 20px;">{{user.meal[1]}}</strong>
                    <ion-button (click)='editFood()' size="small">Edit Food</ion-button>
                    <br>
                  </ion-row>      
                  <ion-row *ngIf="updateFood">
                    <ion-input placeholder="New food: " id="food"></ion-input>
                    <ion-button (click)='editFood()' color="danger" size="small">Cancel</ion-button>
                    <ion-button (click)='editdietFood()' color="success" size="small">Submit</ion-button>
                  </ion-row>
                </ion-row>
    
                <!-- update Calories ---- -->
                <ion-row style="margin: auto;"> 
                  <ion-row>
                    <strong style="font-size: 20px;">{{user.meal[2]}}</strong>
                    <ion-button (click)='editCalories()' size="small">Edit Calories</ion-button>
                    <br>
                  </ion-row>       
                  <ion-row *ngIf="updateCalories">
                    <ion-input placeholder="New calories: " id="calories"></ion-input>
                    <ion-button (click)='editCalories()' color="danger" size="small">Cancel</ion-button>
                    <ion-button (click)='editdietCalories()' color="success" size="small">Submit</ion-button>
                  </ion-row>
                </ion-row>
    
                <!-- update Protein---- -->
                <ion-row style="margin: auto;">   
                  <ion-row>
                    <strong style="font-size: 20px;">{{user.meal[3]}}</strong>
                    <ion-button (click)='editProtein()' size="small">Edit Protein</ion-button>
                    <br>
                  </ion-row>     
                  <ion-row *ngIf="updateProtein">
                    <ion-input placeholder="New Time: " id="protein"></ion-input>
                    <ion-button (click)='editProtein()' color="danger" size="small">Cancel</ion-button>
                    <ion-button (click)='editdietProtein()' color="success" size="small">Submit</ion-button>
                  </ion-row>
                </ion-row>
    
                <!-- update Carbs ---- -->
                <ion-row style="margin: auto;">     
                  <ion-row>
                    <strong style="font-size: 20px;">{{user.meal[4]}}</strong>
                    <ion-button (click)='editCarbs()' size="small">Edit Carbs</ion-button>
                    <br>
                  </ion-row>   
                  <ion-row *ngIf="updateCarbs">
                    <ion-input placeholder="New carbs: " id="carbs"></ion-input>
                    <ion-button (click)='editCarbs()' color="danger" size="small">Cancel</ion-button>
                    <ion-button (click)='editdietCarbs()' color="success" size="small">Submit</ion-button>
                  </ion-row>
                </ion-row>
    
                <!-- update Fat ---- -->
                <ion-row style="margin: auto;">      
                  <ion-row>
                    <strong style="font-size: 20px;">{{user.meal[5]}}</strong>
                    <ion-button (click)='editFat()' size="small">Edit Fat</ion-button>
                    <br>
                  </ion-row>  
                  <ion-row *ngIf="updateFat">
                    <ion-input placeholder="New fat: " id="fat"></ion-input>
                    <ion-button (click)='editFat()' color="danger" size="small">Cancel</ion-button>
                    <ion-button (click)='editdietFat()' color="success" size="small">Submit</ion-button>
                  </ion-row>
                </ion-row>
              <!--done-->
              </ion-row>
            </ion-col>
            <!-- </ul> -->
        </ion-card-content>
      </ion-card>
  </div>

      <!-- Graph will displace directly bellow following code, preferably a Bar Graph -->
      <ion-card>
        <ion-item>
        <!-- <ion-label position="floating">Targeted vs Eaten Calories</ion-label> -->
          <canvas #barChart></canvas>
        </ion-item>
      </ion-card>

    <ion-card>
      <ion-item color="primary">
        <div id = "reccomendation"></div>
      </ion-item>
    </ion-card>

</ion-content>
