<ion-header>
  <ion-toolbar>
    <ion-title>diet</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- User input for workouts on selected day above -->

  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        Input Types
        Placeholder: Lunch
      </ion-label>
    </ion-list-header>

    <!-- Have buttons that each display eating periods today:
    Such as, Breakfast, Dinner, After(and Before) Workout, and snacks, etc. -->
    <ion-item>
      <ion-label>Food Name</ion-label>
      <ion-input placeholder="placeholder" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Brand</ion-label>
      <ion-input placeholder="placeholder" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Calories</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Protein</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Carbs</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fat</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fiber</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sugar</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sodium</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Cholesterol</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Have option here (a '+' sign) for food period and same options above -->
</ion-content>
