<ion-header>
  <ion-toolbar>
    <ion-title>diet</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- User input for food on selected day above -->
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" [(ngModel)]='Date '></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Targeted Calories</ion-label>
    <ion-input type="number" [(ngModel)]='Targeted_Calories'></ion-input>
  </ion-item>

  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full" *ngIf="false">
      <!-- 1. Appears on a blank page with everything below. User clicks Add Meal -->
      <!-- <ion-item *ngIf="true"> -->
        <ion-label>
          Meal: 
        </ion-label>
        <!-- 2. Appears after User clicks Meal  -->
        <ion-select interface="popover">
          <ion-select-option value="breakfast">Breakfast</ion-select-option>
          <ion-select-option value="lunch">Lunch</ion-select-option>
          <ion-select-option value="dinner">Dinner</ion-select-option>
          <ion-select-option value="preWorkout">Pre Workout</ion-select-option>
          <ion-select-option value="postWorkout">Post Workout</ion-select-option>
          <ion-select-option value="snack">Snack</ion-select-option>
        </ion-select>
      <!-- </ion-item> -->
    </ion-list-header>

    <!-- 3. Appears after User chooses Meal -->
    <ion-list *ngIf="false">
      <ion-button expand="block">Add Food</ion-button>
    </ion-list>
  <!-- </ion-list> -->
    <!-- 4. Code below will only appear after user clicks 'Add Meal' then 'Add Food' -->
    <ion-card *ngIf="false">
      <ion-item>
        <ion-label>Food Name</ion-label>
        <ion-input [(ngModel)]='Food_Name'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Brand</ion-label>
        <ion-input [(ngModel)]='Brand'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Calories</ion-label>
        <ion-input [(ngModel)]='Calories'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Protein</ion-label>
        <ion-input [(ngModel)]='Protein'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Carbs</ion-label>
        <ion-input [(ngModel)]='Carbs'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Fat</ion-label>
        <ion-input [(ngModel)]='Fat'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Fiber</ion-label>
        <ion-input [(ngModel)]='Fiber'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Sugar</ion-label>
        <ion-input [(ngModel)]='Sugar'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Sodium</ion-label>
        <ion-input [(ngModel)]='Sodium'></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Cholesterol</ion-label>
        <ion-input [(ngModel)]='Cholesterol'></ion-input>
      </ion-item>
  
      <ion-button (click)="savefood()" color="primary" position="center">Add</ion-button>
      
      <!-- 5. Will display after User clicks Add. Collapsing the code
      above into a smaller card item.  -->
      <ion-card-content>
        Food Name: placeholder
        Calories: placeholder
      </ion-card-content>
    
    </ion-card>
  </ion-list> 

  <!-- (10/8/21) html element ngif to code
    directive based on boolean  in ts-->
    <!-- (10/9/21) Reminder to have click event switced to 'Add' button -->
  <!-- Always remains below code above -->
  <ion-list (click)="btnClicked()">
    <ion-button expand="block">Add Meal</ion-button>
  </ion-list>

  <!-- <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


  <!-- Graph will displace directly bellow following code, preferably a Bar Graph -->
  <ion-card>
    <ion-item>
    <!-- <ion-label position="floating">Targeted vs Eaten Calories</ion-label> -->
      <canvas #barChart></canvas>
    </ion-item>
  </ion-card>
</ion-content>
