<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Golden Health</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- <div class="form"> -->
    <ion-grid>
        <ion-row class="justify-content-center">
            <ion-col size="10" size-md="10" size-lg="7">
              <img src="../../assets/icon/image0.jpg.png" class="figure-img rounded" alt="...">
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]='email'></ion-input>
      </ion-item>
      <br>
  
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]='password' [type] = "getType()"></ion-input>
        <!-- <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon> -->
        <ion-icon slot="end" class="ion-padding-top" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
      </ion-item>

      <ion-button (click)='login()' class="ion-padding" expand='block' color="primary">Login</ion-button>
      <br>
    </ion-card>

    <h5 (click)='signup()'>Don't have account? <ion-text color='primary'>Sign Up here</ion-text>
    </h5> 

    <!-- <p class="justify-content-center">
      Deposit products provided by Gold Team, CA, CSUSB <br>
      We aren't reliable for any damages that comes with this<br>
      App. So best of luck traversing it<br>
      @2021 Gold Team
    </p> -->
</ion-content>
