.form{
    margin-top: 50px;
}

.center {
    margin: auto;
    width: 95%;
    height: 30%;    
    border: 2px solid #000000;
    padding: 10px;
    }

.button{
    text-align: center;
}
.input{
    text-align: center;
}

.result{
    text-align: center;

}
