<ion-header>
  <ion-toolbar>
    <ion-title>rate_pressure</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label><strong>Heartbeat</strong></ion-label>
    <ion-input></ion-input>
  </ion-item>

  <!-- Directions for Heart rate -->
    <ion-item>
      fire up the app, place the pad of your 
      finger over your phone's camera, then sit 
      quietly and wait a minute
    </ion-item> 

  <!-- Stock photo of potential heart beat senor here! -->
    <ion-col size="8" size-md="10" size-lg="7">
      <img src="../../assets/icon/senorProto.jpg" class="figure-img rounded" alt="...">
    </ion-col>
    
  <!-- Have result here! -->
    <ion-item>
      <ion-label position="stacked">Result:</ion-label>
      <!-- ***OUTPUT CODE HERE!!!!*** -->
    </ion-item>



</ion-content>
