#bpm-display-container {
	height: 300px;
	width: 250px;
	border: 12px solid #fd8c21;
	border-radius: 60%;  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 6em auto 4em auto;
	cursor: pointer;
}

#bpm-display {
	text-align: center;
}

#bpm-display label {
	font-size: 1rem;
	text-transform: uppercase;
	color: gray;
}


#heartbeat{
    display:block;
    font-size: 4rem;
    color:black;
    position:relative;

}

#heartbeat:empty:before{
    content: "-";
    color:black;

}

#stable-display{
	font-size: 1rem;
	color:black;
	float:left;
	width:100%;
	text-align: center;
	

}

