<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Activity</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="sendData()">
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="MM DD YY" placeholder="Select Date" [(ngModel)]='Date '></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Workout: </ion-label>
      <ion-input formControlName="workout" [(ngModel)]='Workout'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sets: </ion-label>
      <ion-input formControlName="sets" [(ngModel)]='Sets '></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Reps: </ion-label>
      <ion-input formControlName="reps" [(ngModel)]='Reps '></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Time: </ion-label>
      <ion-input formControlName="time" [(ngModel)]='Time ' placeholder="minutes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Notes: </ion-label>
      <ion-input [(ngModel)]='Notes ' formControlName="notes" placeholder="Here I improved on..."></ion-input>
    </ion-item>

    <ion-button size="default" type="submit" expand="block" [disabled]="!form.valid">SUBMIT WORKOUT</ion-button>
  </form>

  <!-- (10/23/21) Changed id below from 'dispay' to 'display' -->
  <div id = 'display'>
      <!-- <ul *ngFor="let user of users| async" id="List"> -->
      <ion-card *ngFor="let user of users| async" id="List">
        <ion-card-header>
          <ion-card-subtitle>{{user.Date}}</ion-card-subtitle>
          <ion-card-title>{{user.Workout[0]}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <li>{{user.Workout[0]}}</li>
          <li>{{user.Workout[1]}}</li>
          <li>{{user.Workout[2]}}</li>
          <li>{{user.Workout[3]}}</li>
          <li>{{user.Workout[4]}}</li>
          <!-- <ion-button (click)='edit()' color="success" size="small">Edit</ion-button> -->
          <ion-col>
            <ion-button (click)='editactivityinfo()' color="success" size="small">Edit</ion-button>
            <ion-button (click)='deletedata()' color="danger" size="small">Delete</ion-button>
          </ion-col>
          <ion-col>
            <ion-row *ngIf="updateActivityInfo">

              <!-- update workout name---- -->
              <ion-row style="margin: auto;">    
                <ion-row>
                  <strong style="font-size: 20px;">{{user.Workout[0]}}</strong>
                  <ion-button (click)='editWorkoutName()' size="small">Edit Workout</ion-button>
                  <br>                  
                </ion-row>       
                <ion-row *ngIf="workoutChange">
                  <ion-input placeholder="New Workout Name: " id="workoutname"></ion-input>
                  <ion-button (click)='editWorkoutName()' color="danger" size="small">Cancel</ion-button>
                  <ion-button (click)='editworkout()' color="success" size="small">Submit</ion-button>
                </ion-row>
              </ion-row>
  
              <!-- update sets -->
              <ion-row style="margin: auto;">     
                <ion-row>
                  <strong style="font-size: 20px;">{{user.Workout[1]}}</strong>
                  <ion-button (click)='editSets()' size="small">Edit Sets</ion-button>
                  <br>
                </ion-row>   
                <ion-row *ngIf="setsChange">
                  <ion-input placeholder="New Set Num: " id="setnum"></ion-input>
                  <ion-button (click)='editSets()' color="danger" size="small">Cancel</ion-button>
                  <ion-button (click)='editworkoutSets()' color="success" size="small">Submit</ion-button>
                </ion-row>
              </ion-row>
  
              <!-- update reps---- -->
              <ion-row style="margin: auto;">   
                <ion-row>
                  <strong style="font-size: 20px;">{{user.Workout[2]}}</strong>
                  <ion-button (click)='editReps()' size="small">Edit Reps</ion-button>
                  <br>
                </ion-row>     
                <ion-row *ngIf="repsChange">
                  <ion-input placeholder="New Rep Num: " id="repnum"></ion-input>
                  <ion-button (click)='editReps()' color="danger" size="small">Cancel</ion-button>
                  <ion-button (click)='editworkoutReps()' color="success" size="small">Submit</ion-button>
                </ion-row>
              </ion-row>
  
              <!-- update time---- -->
              <ion-row style="margin: auto;">
                <ion-row> 
                  <strong style="font-size: 20px;">{{user.Workout[3]}}</strong>
                  <ion-button (click)='editTime()' size="small">Edit Time</ion-button>
                  <br>
                </ion-row>        
                <ion-row *ngIf="timeChange">
                  <ion-input placeholder="New Time: " id="timenum"></ion-input>
                  <ion-button (click)='editTime()' color="danger" size="small">Cancel</ion-button>
                  <ion-button (click)='editworkoutTime()' color="success" size="small">Submit</ion-button>
                </ion-row>
              </ion-row>
  
              <!-- update notes---- -->
              <ion-row style="margin: auto;">
                <ion-row>
                  <strong style="font-size: 20px;">{{user.Workout[4]}}</strong>
                  <ion-button (click)='editNotes()' size="small">Edit Notes</ion-button>
                  <br>
                </ion-row>        
                <!-- <strong style="font-size: 10px;">{{user.Workout[4]}}</strong>
                <ion-button (click)='editNotes()' size="small">Edit Notes</ion-button>
                <br> -->
                <ion-row *ngIf="notesChange">
                  <ion-input placeholder="New Notes: " id="note"></ion-input>
                  <ion-button (click)='editNotes()' color="danger" size="small">Cancel</ion-button>
                  <ion-button (click)='editworkoutNote()' color="success" size="small">Submit</ion-button>
                </ion-row>
              </ion-row>
            <!--done-->
            </ion-row>
          </ion-col>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-card> 
      <ion-item color="primary">
        <div id = "reccomendation"></div>
      </ion-item>
    </ion-card>

</ion-content>

