<ion-header>
  <ion-toolbar>
    <ion-title>Activity</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="sendData()">
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="MM DD YY" placeholder="Select Date" [(ngModel)]='Date '></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Workout: </ion-label>
      <ion-input formControlName="workout"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sets: </ion-label>
      <ion-input formControlName="sets"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Reps: </ion-label>
      <ion-input formControlName="reps"></ion-input>
    </ion-item>

    <!-- *****add time here!!!!***** -->

    <ion-item>
      <ion-label position="stacked">Notes: </ion-label>
      <ion-input formControlName="notes" placeholder="Here I improved on..."></ion-input>
    </ion-item>

    <ion-button size="default" type="submit" expand="block" [disabled]="!form.valid">SUBMIT MEAL</ion-button>
  </form>
  <!-- <ion-item>
    <ion-label>Activity Date</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item> -->

  <!-- <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        Input Types
      </ion-label>
    </ion-list-header> -->
</ion-content>
