<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-pading">
  <!-- <div class="form"> -->
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]='name'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]='email'></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]='password'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Weight : LB</ion-label>
      <ion-input [(ngModel)]='weight'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Height : cm</ion-label>
      <ion-input [(ngModel)]='height'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Age</ion-label>
      <ion-input [(ngModel)]='age'></ion-input>
    </ion-item>
    <ion-button (click)='signup()' color="primary" expand='block'>Join Up</ion-button>
    <br>
  <!-- </div> -->
  <h5 (click)='signin()'>Already Have an Account? <ion-text color='primary'>Sign In Here</ion-text>
  </h5>
</ion-content>