<!-- NOTE: Make sure to have a opening page and a sign-up page -->

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Testing update on GitLab (9/25/21) -->
<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size="12" size-md="10" size-lg="7" >
      <strong style="font-size: 30px;">Golden Health</strong> 
    </ion-col>
    <ion-col size="12" size-md="10" size-lg="7">
      <img src="../../assets/icon/image0.jpg.png" class="figure-img rounded" alt="...">
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <!-- <ion-col *ngFor="let user of users| async"> -->
    <ion-card *ngFor="let user of users| async">
      <ion-card-header>
        <!-- <ion-card-subtitle>{{user.Date}}</ion-card-subtitle> -->
        <ion-card-title>Welcome: {{user.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- <strong style="font-size: 20px;">Welcome: </strong>
        <strong style="font-size: 20px;">{{user.name}}</strong>
        <br>
        <br> -->
        <strong style="font-size: 20px;">{{user.email}}</strong>
        <br>
        <br>
        <strong style="font-size: 20px;">Your BMI: </strong>
        <strong style="font-size: 20px;">{{bmi}}</strong>
        <br>
        <br>
        
        <ion-col>
          <!-- (11/21/2e to self: have toggle btn when user clicks 'submit'
          to collapse list below -->
        <ion-button (click)='editpersonalinfo()' size="small">Edit Personal Info</ion-button>
        <ion-row *ngIf="updatePersonalInfo">
          <!-- update name---- -->
          <ion-col style="margin: auto;">
            <ion-row>
              <strong style="font-size: 20px;">Name: </strong>
              <strong style="font-size: 20px;">{{user.name}}</strong>
              <ion-button (click)='editUserName()' size="small">Edit name</ion-button>
            </ion-row>        
            <ion-col *ngIf="nameChange">
              <ion-input placeholder="New name: " id="changename"></ion-input>
              <ion-button (click)='editUserName()' color="danger" size="small">Cancel</ion-button>
              <ion-button (click)='editname()' color="success" size="small">Submit</ion-button>
            </ion-col>
          </ion-col>

          <!-- update email -->
          <ion-col style="margin: auto;">  
            <ion-row>
              <strong style="font-size: 20px;">Email: </strong>
              <strong style="font-size: 20px;">{{user.email}}</strong>
              <ion-button style="margin: auto;" (click)='editUserEmail()' size="small">Edit email</ion-button>
            </ion-row>      
            <ion-col *ngIf="emailChange" style="margin: auto;">
              <ion-col class="verifcation">
                <ion-col>
                  <h3>Account Verification</h3>
                </ion-col>
                <ion-col>
                  <ion-input placeholder="Your Email: " id="oldemail"></ion-input>
                </ion-col>
                <ion-col> 
                  <ion-input placeholder="Your Password: "  id="password" [type] = "getType()"></ion-input>
                  <ion-icon slot = "end" [name] = "passwordToggleIcon" (click)="togglePassword()"></ion-icon>
                </ion-col>
              </ion-col>
              <ion-col>
                <h3>New email</h3>
              </ion-col>
              <ion-col >
                <ion-input placeholder="New email: " id="changeemail"></ion-input>
              </ion-col>
              <ion-col>
                <ion-button (click)='editUserEmail()' color="danger" size="small" >Cancel</ion-button>
                <ion-button (click)='editemail()' color="success" size="small" >Submit</ion-button>            
              </ion-col>

            </ion-col>
          </ion-col>

          <!-- update height---- -->
          <ion-col style="margin: auto;">   
            <ion-row>
              <strong style="font-size: 20px;">Height: </strong>
              <strong style="font-size: 20px;">{{user.height}}</strong>
              <ion-button (click)='editUserHeight()' size="small">Edit Height</ion-button>
            </ion-row>     
            <ion-col *ngIf="HeightChange">
              <ion-input placeholder="New Height: " id="changeHeight"></ion-input>
              <ion-button (click)='editUserHeight()' color="danger" size="small">Cancel</ion-button>
              <ion-button (click)='editHeight()' color="success" size="small">Submit</ion-button>
            </ion-col>
          </ion-col>
          <!-- update weight---- -->
          <ion-col style="margin: auto;">    
            <ion-row>
              <strong style="font-size: 20px;">Weight: </strong>
              <strong style="font-size: 20px;">{{user.weight}}</strong>
              <ion-button (click)='editUserWeight()' size="small">Edit Weight</ion-button>
              <br>
            </ion-row>    
            <ion-col *ngIf="WeightChange">
              <ion-input placeholder="New Weight: " id="changeWeight"></ion-input>
              <ion-button (click)='editUserWeight()' color="danger" size="small">Cancel</ion-button>
              <ion-button (click)='editWeight()' color="success" size="small">Submit</ion-button>
            </ion-col>
          </ion-col>


      <!--done-->
        </ion-row>
        </ion-col>
      </ion-card-content>
    </ion-card>
    <!-- </ion-col> -->
  </ion-row>
</ion-content>
<ion-button (click)='logout()' expand='block'>logout</ion-button>
