<!-- NOTE: Make sure to have a opening page and a sign-up page -->

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Testing update on GitLab (9/25/21) -->
<!-- Next test -->

<!-- (test dummy -->
<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size="12" size-md="10" size-lg="7" >
      <strong style="font-size: 30px;">Golden Health</strong> 
    </ion-col>
    <ion-col size="12" size-md="10" size-lg="7">
      <img src="../../assets/icon/image0.jpg.png" class="figure-img rounded" alt="...">
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col *ngFor="let user of users| async">
      <strong style="font-size: 25px;">Welcome: </strong>
      <strong style="font-size: 25px;">{{user.name}}</strong>
      <ion-button (click)='editname()' size="small">Edie</ion-button>
      <br>
      <br>
      <strong style="font-size: 25px;">{{user.email}}</strong>
      <ion-button (click)='editemail()' size="small">Edit</ion-button>
      <br>
      <br>

      <strong style="font-size: 25px;">Your BMI: </strong>
      <strong style="font-size: 25px;">{{bmi}}</strong>
      <br>
      <br>

      <!-- <anytype>{{users.(field)}}</anytype> -->
    </ion-col>
  <!-- <div>
    <ul *ngFor="let user of users| async">
      <li>{{user.name}}</li>
    </ul>
  </div> -->

  </ion-row>
</ion-content>
<ion-button (click)='logout()' expand='block'>logout</ion-button>
