<!-- NOTE: Make sure to have a opening page and a sign-up page -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HEALTH APP</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Testing update on GitLab (9/25/21) -->
<!-- Next test -->

<ion-content>
  <ion-grid>
    <ion-row class="justify-content-center">
      <!-- <strong>The Great War Info</strong> -->
        <ion-col size="12" size-md="10" size-lg="7">
          <strong>Golden Health</strong> 
          <img src="../../assets/icon/IMG_4594.jpg.png" class="figure-img rounded" alt="...">
        </ion-col>
        <!-- <ion-col class="ion-text-center">
        </ion-col> -->
    </ion-row>
  </ion-grid>
  <br>
</ion-content>
