<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BMI</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form">

    <ion-item>
      <ion-label position="stacked">Weight: LB</ion-label>
      <ion-input [(ngModel)]='weight'></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Height: M</ion-label>
      <ion-input [(ngModel)]='height'></ion-input>
    </ion-item>
    <ion-button (click)='calculate()' expand='block'>Generate My BMI</ion-button>
    <br>
    <div class="center">
      <h3>Current BMI: </h3><h3 id = "mybmi"></h3>
    </div>
  </div>
    <!-- <div id="recommdation" style="font-size: medium;"></div> -->

  <ion-card>
    <ion-item color="primary">
      <div id="recommdation"></div>
    </ion-item>
  </ion-card>

</ion-content>

